:root{
    /*Color*/
    --color-primary:#FD9800;
    --color-primary-oscuro: #E98C00;
    --c-gris: #454F5E;
    --c-black: #000;
    --c-white: #f8f6f6;
    --form-bg:#0F172A;

    /*Fonts*/
    --fonts-primary: sans-serif, Verdana, Geneva, Tahoma;
    --fonts-second: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px;
    margin: 0;
    font-family: var(--fonts-primary);
}
/*Globales*/
h1,h2,h3,p{margin: 0;}
h1{font-size: 2.5em;}
h2{font-size: 3.8rem;}
h3{font-size: 3.2rem;}
a{text-decoration: none;}
img{width: 100%;}
li{
  list-style-type: none;
   line-height: 1.5;
}

@media screen and (min-width:430px){
    h1{font-size: 3.5em;}
}

@media screen and (min-width:768px){
    h1{font-size: 6em;}
}
/*Utilidades*/
.container{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
.no-margin{margin: 0;}
.no-padding{padding: 0;}
.btn{
    border:1px solid #000;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: inline-block;
    text-align: center;
    /* margin: auto 0; */
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-family: var(--fonts-second);
}

.w-30{width: 30rem;}

.bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.p-top{padding-top: 5rem;}
.m-b-5{margin-bottom: 5rem;}
.m-tb-3{margin: 3rem 0;}
.text-center{text-align: center;}
.text-tc{text-transform: capitalize;}
.d-fc{
    display: flex;
    justify-content: center;
}


/*Header*/
.hero{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90rem;
    position: relative;
}

.hero__img-header{
     background-image: url(../src/img/hero/hero.jpg);
}

.bg-header{
    background-color: rgb(0, 0, 0, .2);
}

.height-100{
    height: 100%;
}

/*Logo*/
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo{
    margin-top: 2rem;
    width: 20rem;
}

@media  screen and (min-width:768px){
    .logo{
        flex-direction: column;
         align-items:normal;
    }
}

/*navegacion*/
.logo{
    position: relative;
}

.menu__icono-movil{
    width: 3rem;
    height: 3rem;
}

.menu__icono-movil:hover{
    cursor: pointer;
}

.lista-enlaces{
   display: none; 
}

.enlace{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--c-black);
    font-family: var(--fonts-second);
}

.activo, 
.enlace:hover{
    color: var(--color-primary-oscuro);
}

/* Movil */
@media screen and (max-width:767px) {
    .navegacion:hover > .contenido-menu {
        position: absolute;
        z-index: 1;
        min-width: 300px;
        padding: 1rem 2rem;
        height: auto;  
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--c-white);
        text-align: center;
    }

    .navegacion:hover .contenido-menu > .lista-enlaces{
        display: inline-block;
    }
}

/*Tablet*/
@media screen and (min-width:768px){
    .lista-enlaces{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }

    .menu__icono-movil{
        display: none;
    }

    .enlace{
        color: var(--c-white);
    }
}


/*Info header*/
.info-hero{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.info-descripcion{
    font-size: 2.3rem;
    font-weight: 700;
    font-family: var(--fonts-second);
}

.info-titulo{
    margin-top: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.info-titulo, 
.info-descripcion{
    color: var(--c-white);
}

/*hero-btn*/
.hero-btn{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.d-iblock{
    display: inline-block;
}

.btn-naranjado{
    background-color: var(--color-primary);
    color: var(--c-black);
}

.btn-naranjado:hover{
    background-color: var(--color-primary-oscuro);
}

.btn-transparente{
    background-color: transparent;
    border: 1px solid var(--c-white);
    color: var(--c-white);
}

.btn-transparente:hover{
    background-color: var(--color-primary-oscuro);
    border: 1px solid var(--color-primary-oscuro);
    color: var(--c-black);
}

@media screen and (min-width:768px){
    .hero-btn{
        flex-direction: row;
    }
}
/*servicios*/
.servicios{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem 0;
}

/* Tablet */
@media (min-width:768px) {
  .servicios{
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem  2rem;
    }
}

/* Desktop */
@media (min-width:1280px) {
  .servicios{
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem  2rem;
    }
}

.servicio{
    text-align: center;
}

.servicio-titulo{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2.8rem;

}

.btn__servicio-flex{
    display: flex;
    justify-content: flex-end;
}

.btn__servicio-flex a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn__servicio-flex img{
    width: 3rem;
    margin: 0;
}

/*ubicacion*/
.ubicacion{
    width: 100%;
    max-width: 60rem;
    margin: 2rem auto;
}

.hero-ubicacion{
    background-image: url(../src/img/ubicacion/ubicacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* width: 567px; */
    height: 320px;
    position: relative;
}

.bg-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .4);
}



.bg-ubicacion h2{
    color: var(--c-white);
    text-align: center;
    margin-bottom: 2rem;
}

.btn-borde:hover{
    border: 1px solid var(--color-primary-oscuro);
}

/*proyectos*/
.proyectos{
    display: grid;
    gap: 1rem 1rem;
    margin-bottom: 2rem;
}

.grid-template-columns{
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width:768px) {
  .grid-template-columns{
    grid-template-columns: repeat(4, 1fr);
}
}

.img-1{background-image: url(../src/img/proyectos/1.png);}
.img-2{background-image: url(../src/img/proyectos/2.jpg);}
.img-3{background-image: url(../src/img/proyectos/3.jpg);}
.img-4{background-image: url(../src/img/proyectos/proyectoshtml/residencia_del_mar.jpg);}
.img-5{background-image: url(../src/img/proyectos/proyectoshtml/casa_blanca.jpg);}
.img-6{background-image: url(../src/img/proyectos/proyectoshtml/residencia_san_martino.png);}
.img-7{background-image: url(../src/img/proyectos/proyectoshtml/casa_la_choya.png);}
.img-8{background-image: url(../src/img/proyectos/proyectoshtml/residencia_mandoki.png);}
.img-9{background-image: url(../src/img/proyectos/proyectoshtml/residencia_gentille.png);}
.img-10{background-image: url(../src/img/proyectos/proyectoshtml/casa_bolzer.jpg);}
.img-11{background-image: url(../src/img/proyectos/proyectoshtml/casa_paloma.png);}
.img-12{background-image: url(../src/img/proyectos/proyectoshtml/casa_bravo.png);}
.img-13{background-image: url(../src/img/proyectos/proyectoshtml/casa_sueno.png);}
.img-14{background-image: url(../src/img/proyectos/proyectoshtml/residencia_san_besitos.png);}
.img-15{background-image: url(../src/img/proyectos/proyectoshtml/casa_encanto.jpg);}

.proyecto{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.bg-proyecto h3{
    text-transform: capitalize;
}

.bg-proyecto h3, .bg-proyecto p{
    color: var(--c-white);
}

.bg-proyecto p{
    font-size: 2rem;
    font-family: var(--fonts-second);
}

.bg-proyecto{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 3rem 2rem;
    background: linear-gradient(to top, /* Dirección del degradado: de abajo hacia arriba */
    rgba(0, 0, 0, 0.6) 0%,   /* Empieza más oscuro en la parte inferior (80% de opacidad) */
    rgba(0, 0, 0, 0.1) 50%,  /* Menos oscuro a la mitad (40% de opacidad) */
    rgba(0, 0, 0, 0) 100%    /* Completamente transparente en la parte superior */
  );
}

/*Seccion de formulario*/
.formulario{
    background-color: var(--form-bg);
    width: 95%;
    max-width: 648px;
    height: 880px;
    margin: 0 auto;
    padding-top: 5rem;
}
@media (min-width:430px) {
  .formulario{
    padding: 5rem 3rem 2rem 3rem;

  }
}

fieldset{
    border: none;
}

legend{
    color: var(--c-white);
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

fieldset p{
    color: var(--c-white);
    font-size: 2.8rem;
    margin-bottom: 4rem;
}

.campos{
    display: flex;
    flex-direction: column;
}


.campo input, .campo textarea{
    font-size: 1.8rem;
    width: 100%;
      padding: 1rem 2rem;
}

.campo input{
    margin-bottom: 2.5rem;
}

.campo textarea{
    height: 30rem;
}

input[type='submit']{
    margin-top: 2rem;
    padding: 1rem 2rem;
}

/*Footer*/
footer{
     margin-top: 2rem;
    padding: 3rem;
    background-color: var(--c-black);
    color: var(--c-white);
}

.f-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.icono-redes{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icono-redes a img{
    height: 30px;
    width: auto;
}

@media (min-width:1280px) {
  .f-footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .icono-redes{
    gap: 3rem;
}
}


/*Sección Proyectos*/
@media (min-width:768px) {
   .grid-template-columns--proyectos{
    grid-template-columns: repeat(2,1fr);
   }
}
@media (min-width:1280px) {
    .grid-template-columns--proyectos{
        grid-template-columns: repeat(3, 1fr);
    }
}


